body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2f3e46;
}

#heading{
    width: 100%;
    color: #84a98c;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.stopwatch-container {
    text-align: center;
    background: rgba(53, 79, 82, 0.5); 
    backdrop-filter: blur(15px);
    border-radius: 15px;
    border: 1px solid rgba(132, 169, 140, 0.3); 
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); 
    width: 300px;
    color: #cad2c5; 
    margin-right: 30px;
}

.display {
    font-size: 2rem;
    margin: 20px 0;
    color: #cad2c5;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(132, 169, 140, 0.8);
    color: #2f3e46; 
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: rgba(82, 121, 111, 0.9); 
    transform: scale(1.05);
}

.laps {
    text-align: left;
    margin-top: 10px;
}

.laps h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #cad2c5; 
}

#lapsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border-top: 1px solid rgba(132, 169, 140, 0.3); 
    margin-top: 10px;
}

#lapsList li {
    padding: 5px;
    border-bottom: 1px solid rgba(132, 169, 140, 0.3); 
    font-size: 0.9rem;
    color: #cad2c5; 
}

#previousTimesList li {
    padding: 5px;
    border-bottom: 1px solid rgba(132, 169, 140, 0.3); 
    font-size: 0.9rem;
    color: #2f3e46;
    margin: 5px;
    
}

#previousTimesList {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 10px;
    background-color: #dad7cd;
    border-radius: 10px;
}
.averageTime {
    color: #52796f; /* Slightly different shade for average text */
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(132, 169, 140, 0.8); /* Background for average time */
    border-radius: 8px;
    border: 1px solid rgba(132, 169, 140, 0.3);
}